* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins"; */
}

html, body {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

#searchBtn:hover{
  color: #191923 !important;
  /* background-color: #e94f37; */
}

.w-70 {
  width: 70% !important;
}

.nav-icon {
  width: 1.5rem;
  height: 2rem;
}

#sky {
  width: 100%;
  height: 180px;
  position: relative;
  /* background: linear-gradient(to top, #87CEEB, #ffffff); */
  overflow: hidden;
}

#sun {
  z-index: 1;
  transition: top 1s ease, left 1s ease;  
  width: 25px;
  height: 25px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  top: 50%; /* Adjust with a curve for realism */
  left: 0;
  transform: translate(-50%, -50%);
}

#sunPathSVG {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* #sun {
  z-index: 1;
} */