* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

#searchBtn:hover{
  color: #191923 !important;
  background-color: #e94f37;
}

.w-70 {
  width: 70% !important;
}